@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.credit-card {
  position: relative;
  width: 508px;
  height: 314px;
  transform-style: preserve-3d;
  perspective: 500px;
  font-family: "Poppins", sans-serif;
}

.credit-card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);

  transform-style: preserve-3d;
  transition: 1s;
  backface-visibility: hidden;
}

.credit-card:hover .face.front {
  transform: rotateY(180deg);
}
.credit-card:hover .face.back {
  transform: rotateY(360deg);
}

.credit-card .face.back {
  transform: rotateY(180deg);
}

.credit-card .face.front::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
}

.credit-card .face.front::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 80px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.7;
}

.credit-card .face.front .debit {
  position: absolute;
  left: 40px;
  top: 30px;
  color: #fff;
  font-weight: 500;
}

.credit-card .face.front .bank {
  position: absolute;
  right: 40px;
  top: 25px;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
}
.credit-card .face.front .chip {
  position: absolute;
  top: 80px;
  left: 50px;
  max-width: 64px;
}

.credit-card .face.front .number {
  position: absolute;
  bottom: 130px;
  left: 40px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 6px;
  text-shadow: 0 2px 1px #0005;
  font-family: "Orbitron", sans-serif;
}

.credit-card .face.front .valid {
  position: absolute;
  bottom: 90px;
  left: 40px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 300;
  line-height: 1rem;
  text-align: right;
}

.credit-card .face.front .valid span:last-child {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.credit-card .face.front .card-holder {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
}

.credit-card .face.back .blackbar {
  position: absolute;
  width: 100%;
  height: 60px;
  width: 100%;
  top: 40px;
  background: #000;
}

.credit-card .face.back .ccvtext {
  position: absolute;
  top: 120px;
  left: 30px;
}

.credit-card .face.back .ccvtext {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.credit-card .face.back .whitebar {
  position: relative;
  width: 400px;
  height: 40px;
  background: #fff;
  margin-top: 5px;
}

.credit-card .face.back .ccv {
  position: relative;
  background: #ccc;
  color: #111;
  width: 50px;
  height: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 395px;
  top: -35px;
}

.credit-card .face.back .text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  font-size: 10px;
  line-height: 1.4em;
  font-weight: 300;
  color: #fff;
}

@media only screen and (max-width: 580px) {
  .credit-card {
    width: 380px;
    height: 200px;
    perspective: 380px;
  }
  .credit-card .face.front .debit {
    left: 20px;
    top: 15px;
    font-size: 14px;
  }
  .credit-card .face.front .bank {
    right: 20px;
    top: 12px;
    font-size: 16px;
  }
  .credit-card .face.front .chip {
    top: 40px;
    left: 25px;
  }
  .credit-card .face.front .number {
    left: 20px;
    font-size: 14px;
    bottom: 85px;
  }
  .credit-card .face.front .valid {
    bottom: 50px;
    left: 20px;
    font-size: 12px;
  }
  .credit-card .face.front::before {
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 40px;
  }

  .credit-card .face.front::after {
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 60px;
  }

  .credit-card .face.front .card-holder {
    bottom: 20px;
    left: 20px;
    font-size: 14px;
  }

  /* back responsive */
  .credit-card .face.back .blackbar {
    width: 100%;
    height: 30px;
    top: 20px;
  }
  .credit-card .face.back .ccvtext {
    top: 60px;
    left: 20px;
    font-size: 10px;
  }
  .credit-card .face.back .whitebar {
    width: 300px;
    height: 25px;
    margin-top: 2px;
  }
  .credit-card .face.back .ccv {
    width: 40px;
    height: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    left: 295px;
    top: -23px;
  }
  .credit-card .face.back .text {
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 9px;
    line-height: 1.4em;
    font-weight: 300;
  }
}
