.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.choose-theme {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  width: 35px;
  height: 35px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
